<a href="https://colab.research.google.com/github/Michael-C-1/Module9/blob/main/Module9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Max function, Min, Average, Standard Deviation, Geometric Average
This takes the maximum value, minimum  value, average, standard deviation and geometric average of a list of numbers

In [1]:
List=(19, 32, 34, 33, 75, 91, 9, 4, 18, 38)

def max(numbers):
  max = 0
  for k in numbers:
    if k > max:
      max = k
  return print(max)

max(List)

91

In [ ]:
List=(19, 32, 34, 33, 75, 91, 9, 4, 18, 38)

def min(numbers):
  b=10**10
  for k in numbers:
    if (b>k):
      b = k
  return print(b)

min(List)

4

In [ ]:
List=(19, 32, 34, 33, 75, 91, 9, 4, 18, 38)

def avg(numbers):
  avg=0
  for k in numbers:
    avg+=k
  avg = avg/len(List)
  return avg

avg(List)

35.3

In [ ]:
List=(19, 32, 34, 33, 75, 91, 9, 4, 18, 38)

def SD(numbers):
  total=0
  Avg=avg(numbers)
  for k in numbers:
    k-=35.3
    total+=pow(k,2)
  total/=(len(numbers)-1)
  return print(total**(.5))

SD(List)

27.76908752952142

In [ ]:
List=(19, 32, 34, 33, 75, 91, 9, 4, 18, 38)

def GeoAvg(numbers):
  GA=1
  for k in numbers:
    GA*=k
  return print(pow(GA, 1/len(numbers)))

GeoAvg(List)

25.464536135860143

#Shape Areas
This function outputs the area of the shape that the user chooses after getting the necessary values

In [ ]:
import math
def chooseShape():
  value=input('Press 1 for triangle, 2 for circle, 3 for square')
  if value==1:
    TriangleArea()
  elif value==2:
    CircleArea()
  elif value==3:
    SquareArea
  else:
    print('Invalid choice')

def TriangleArea():
  b=float(input('What is the base? '))
  h=float(input('What is the height? '))
  print(f'The area is {b*h/2:.2f}.')

def CircleArea():
  r=float(input('What is the area? '))
  print(f'The area is {math.pi*(r**2)}.')

def SquareArea():
  s=float(input('What is the side length? '))
  print(f'The area of the square is {r**2}.')

chooseShape()

#Doubling function

In [5]:
List=[1, 2, 4]

def doublelist(numbers):
  x=int(input('Choose 1 to double the list and 2 to double the values'))
  if (x==1):
    print(numbers*2)
  elif (x==2):
    for i in range(len(numbers)):
      numbers[i]*=2
    print(numbers)
  else:
    print('Invalid option')
doublelist(List)

Choose 1 to double the list and 2 to double the values2
[2, 4, 8]

#Concatenation

In [ ]:
import math
List1=[1, 2, 4]
List2=[2, 4, 8]
other=[]
def z(x, y):
  d=math.floor(math.log10(y))
  return x*10**(1+d) +y)

def concatenate(a, b):
  for i in range(0, len(a)):
   z(a[i], b[i])
  return other.append(z(a[i], b[i])) 

concatenate(List1, List2)

[12, 24, 48]

#List of primes up to n

In [ ]:
import math
def prime(n):
  a=2
  for a in range(2, n+1):
    for i in range(2, math.ceil(a**2)):
      if (a%i)==0 and a>2:
        break
      else:
        print(a)
        break

prime(100)

2
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

#Addition and subtraction

In [16]:
def calculation():
  x=int(input('Give me a number:'))
  y=int(input('Give me a number:'))
  return print(f'{x-y}, {x+y}')

calculation()

Give me a number:0
Give me a number:1
-1, 1

#Sum of multiples of 3 and 5 below 1000

In [3]:
def sum3_5(n):
  x=0
  for k in range(0, n):
    if (k%3==0) or (k%5==0):
      x+=k
  return x

sum3_5(1000)

233168

#Sum of the even-valued Fibonacci numbers below 1000

In [12]:
def sum_even_fib(n):
  a=1
  b=1
  x=0
  for k in range(0, n):
    c=a+b
    if (c>=1000):
      break
    elif c%2==0 and (c<1000):
      x+=c
    a=b
    b=c
  return x
sum_even_fib(1000)

798

#Extra Credit

In [38]:
#takes around 3*n seconds to output solution
def sumdigit5thpowers(n):
  sum=0
  digit_sum=0
  total=0
  for i in range(31, int(n*1000000)):
    digit_sum=0
    j=list(str(i))
    for x in j:
      digit_sum+=int(x)**5
    if digit_sum==i:
      sum+=digit_sum
    else:
      digit_sum==0
    total+=sum
  return total
a=1
z=1
n=z*(10**a)
sumdigit5thpowers(n)

4380078465169